<header>
    <h3>RideShare</h3>
    <div class="btn-group flex align-center">
        <p>Current Time: {{ currentTime }}</p>
        <button class="btn btn-primary" (click)="showAddRide = true">Add Ride</button>
    </div>
</header>
<div class="container bg-primary">
    <div class="main">
        <section class="mb-4">
            <div class="flex justify-between align-center mb-1">
                <h2>Booked Rides</h2>
            </div>
            <div class="flex">
                @if (bookedRides.length === 0) {
                    <p>No Ride Booked Yet.</p>
                }
                @for (ride of bookedRides; track $index) {
                    <div class="card">
                        <div class="time mb-1">
                            <i class="fa-solid fa-clock"></i> {{ ride.time }}
                        </div>
                        <div class="location flex justify-between align-center mb-2">
                            {{ride.pickup}} <i class="fa-solid fa-arrow-right mx-2"></i> {{ride.destination}}
                        </div>
                        <div class="info flex justify-between align-center">
                            <p><strong>Type:</strong> {{ ride.vehicleType }}</p>
                            <p><strong>No:</strong> {{ ride.vehicleNo }}</p>
                        </div>
                        <button class="btn btn-danger" [disabled]="ride.employeeId === 'E003'" (click)="onCancelRidePress(ride)">Cancel Booking</button>
                    </div>
                }
            </div>
        </section>
        <section>
            <div class="flex justify-between align-center mb-1">
                <h2>Available Rides</h2>
                <form [formGroup]="filterForm">
                    <div class="filters flex justify-end align-center">
                        <label for="filter" class="mr-2">Time:</label>
                        <input type="time" formControlName="time" />
                        <label for="filter" class="mr-2">Vehicle Type:</label>
                        <select formControlName="vehicleType">
                            <option value="All">All</option>
                            <option value="Car">Car</option>
                            <option value="Bike">Bike</option>  
                        </select>
                        <span class="clear" (click)="resetFilter()">Clear</span>
                    </div>
                </form>
            </div>
            <div class="flex">
                @if (filteredRides.length === 0) {
                    <p>No Ride Available.</p>
                }
                @for (ride of filteredRides; track $index) {
                    <div class="card">
                        <div class="time mb-1">
                            <i class="fa-solid fa-clock"></i> {{ ride.time }}
                        </div>
                        <div class="location flex justify-between align-center mb-2">
                            {{ride.pickup}} <i class="fa-solid fa-arrow-right mx-2"></i> {{ride.destination}}
                        </div>
                        <div class="info flex justify-between align-center">
                            <p><strong>Type:</strong> {{ ride.vehicleType }}</p>
                            <p><strong>No:</strong> {{ ride.vehicleNo }}</p>
                            <p><strong>Seats:</strong> {{ ride.vacantSeats }}</p>
                        </div>
                        <button class="btn btn-primary" [disabled]="ride.employeeId === employeeId" (click)="onBookRidePress(ride)">Book Now</button>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
@if(showAddRide) {
    <app-add-ride (close)="showAddRide = false"></app-add-ride>
}